/target/
/wasm/dist/
/autom4te.cache/
/build/
/modules/
/.libs/
/Makefile
/Makefile.fragments
/Makefile.objects
/Makefile.global
/acinclude.m4
/aclocal.m4
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/config.sub
/configure
/configure~
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/run-tests.php
/tmp-php.ini
/*.dep
/*.la
/*.lo
