<?xml version="1.0" encoding="utf-8" ?>
<phpunit
	bootstrap="bootstrap.php"
	testdox="true"
	colors="true"
	enforceTimeLimit="true"
	defaultTimeLimit="1"
	timeoutForSmallTests="1"
	timeoutForMediumTests="1"
	timeoutForLargeTests="1"
>

	<php>
<!--        <const name="DEBUG" value="FALSE"/>-->
    </php>
	<testsuites>
		<testsuite name="css-api">

<file>wpCssProcessor.php</file>
<file>wpCssTokenProcessor.php</file>
<file>wpCssBuilder.php</file>

		</testsuite>
	</testsuites>
</phpunit>

